<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Flexify{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
   <div>
    {% if user.is_authenticated %}
        {% block content %} 
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-primary">
                <a style="font-size: 25px;color: white;" class="navbar-brand font-weight-bolder" href="../">Flexify</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a style="color:white" class="nav-link font-weight-bold" href="./foodData">Nutrition<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a style="color:white" class="nav-link font-weight-bold" href="#">Workout<span class="sr-only">(current)</span></a>
                      </li>
                  </ul>
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      User
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <a class="dropdown-item" href="">Settings</a>
                      <a class="dropdown-item text-warning" href="">Sign Out</a>
                    </div>
                  </div>
                  
                </div>
              </nav>
        </div>
        <div class="jumbotron">
            <h1 class="display-3">Welcome to Flexify!</h1>
            <p class="lead">Our app is your ultimate companion for achieving your health and fitness goals. Whether you're aiming to lose weight, build muscle, or simply improve your overall well-being, our comprehensive toolset has you covered.</p>
            <hr class="my-2">
            <p>Start transforming your health today!</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="#!" role="button">My Workouts</a>
            </p>
        </div>
        <div class="m-5">
          <div style="height: 25vh;" class="media">
            <img class="d-flex mr-3" src="" class="img-thumbnail" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">Diet Planner</h5>
              Desc of diet planner here
            </div>
        </div>
        <br>
        <div style="height: 25vh;" class="media">
            <img class="d-flex mr-3" data-src="" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">Workout Tracker</h5>
              Desc of workout tracker here
            </div>
        </div>
        <br>
        <div style="height: 25vh;" class="media">
            <img class="d-flex mr-3" src="" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">Nutrition Tracker</h5>
              Desc of nutrition tracker here
            </div>
        </div>
        <br>
        <div style="height: 25vh;" class="media">
            <img class="d-flex mr-3" data-src="" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">More</h5>
              More
            </div>
        </div>
        <br>
        </div>
        <div style="color:white" class="d-flex justify-content-center border bg-primary">
            © 2024 Flexify
          </div>
        {% endblock %}
    {% else %}
        <p><a href="/login">Login Here</a></p>
    {% endif %}
   </div> 
</body>
</html>