<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Flexify{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
   <div>
    {% if user.is_authenticated %}
        {% block content %} 
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-primary">
                <a style="font-size: 25px;color: white;" class="navbar-brand font-weight-bolder" href="../">Flexify</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a style="color:white" class="nav-link font-weight-bold" href="../foodData">Nutrition<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a style="color:white" class="nav-link font-weight-bold" href="../exercise">Workout<span class="sr-only">(current)</span></a>
                      </li>
                  </ul>
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      User
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <a class="dropdown-item" href="">Settings</a>
                      <a class="dropdown-item text-warning" href="">Sign Out</a>
                    </div>
                  </div>
                  
                </div>
              </nav>
        </div>
        <div class="jumbotron">
            <h1 class="display-3">Welcome to Flexify!</h1>
            <p class="lead">Our app is your ultimate companion for achieving your health and fitness goals. Whether you're aiming to lose weight, build muscle, or simply improve your overall well-being, our comprehensive toolset has you covered.</p>
            <hr class="my-2">
            <p>Start transforming your health today!</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="/createWorkout" role="button">Get Started</a>
            </p>
        </div>
        <div style="padding-left: 5vw;" class="m-5">
          <div style="height: 25vh;" class="media">
            <div class="media-body">
              <h5 style="font-weight: 300; font-size: 45px;" class="mt-0">Diet Planner</h5>
              <p style="width: 80%;">This innovative tool empowers users to tailor their nutritional journey precisely to their needs and preferences. Whether you're aiming for weight loss, muscle gain, or simply maintaining a healthy lifestyle, Flexify's diet planner offers a seamless customization process.</p>
              <a class="btn btn-primary btn-sm" href="#" role="button">Go To My Diets</a>
            </div>
          </div>
        </div>
        <div style="padding-left: 5vw;" class="m-5">
          <div style="height: 25vh;" class="media">
            <div class="media-body">
              <h5 style="font-weight: 300; font-size: 45px;" class="mt-0">Workout Tracker</h5>
              <p style="width: 80%;">The workout tracker allows users to efficiently plan and track their fitness routines by enabling them to create customized workouts. Users can select exercises tailored to specific muscle groups, add or remove exercises as needed, and organize their sessions based on personal goals.</p>
              <a class="btn btn-primary btn-sm" href="#" role="button">Go To My Workouts</a>
            </div>
          </div>
        </div>
        <div style="padding-left: 5vw;" class="m-5">
          <div style="height: 25vh;" class="media">
            <div class="media-body">
              <h5 style="font-weight: 300; font-size: 45px;" class="mt-0">Nutrition Tracker</h5>
              <p style="width: 80%;">The nutrition tracker empowers users to manage their dietary intake effectively by providing detailed nutritional information for various foods. Users can easily search and select specific foods to view comprehensive details such as calories, macronutrients (protein, carbohydrates, fats), vitamins, and minerals. This tool enables users to make informed choices about their diets, track their nutritional goals, and maintain a balanced and healthy eating regimen tailored to their individual needs and preferences.</p>
              <a class="btn btn-primary btn-sm" href="#" role="button">Go To Nutrition Tracker</a>
            </div>
          </div>
        </div>
        <div style="color:white" class="d-flex justify-content-center border bg-primary">
            © 2024 Flexify
          </div>
        {% endblock %}
    {% else %}
        <p><a href="/login">Login Here</a></p>
    {% endif %}
   </div> 
</body>
</html>