<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Flexify{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
   <div>
    {% if user.is_authenticated %}
        {% block content %} 
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-success">
                <a style="font-size: 25px;" class="navbar-brand font-weight-bolder" href="../">Flexify</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link font-weight-bold" href="./foodData">Nutrition<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link font-weight-bold" href="#">Workout<span class="sr-only">(current)</span></a>
                      </li>
                  </ul>
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      User
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <a class="dropdown-item" href="">Settings</a>
                      <a class="dropdown-item text-warning" href="">Sign Out</a>
                    </div>
                  </div>
                  
                </div>
              </nav>
        </div>
        <div class="jumbotron">
            <h1 class="display-3">Welcome to Flexify!</h1>
            <p class="lead">Write some description about flexify make it last a line or two aaasdhuadiushfaifhefhaufheofiahfoaifhjeoifajhofiejfoaieji sdkjasdh asd akjsdhsad hsad hasdkj asjd jkadjk ajksd ja jsdjkha dhkjsa kdjasj dkjsajdk ashd akjsdhajk sdhaskj haksjd haksjd.</p>
            <hr class="my-2">
            <p>Some description here. make it around half a line asd as das</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="#!" role="button">Some button to do smth</a>
            </p>
        </div>
        <div class="media">
            <img class="d-flex mr-3" data-src="" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">subsection 1</h5>
              Boulders lined the side of the road foretelling what could come next. There are no heroes in a punk rock band. Boulders lined the side of the road foretelling what could come next. There are no heroes in a punk rock band.
            </div>
        </div>
        <br>
        <div class="media">
            <img class="d-flex mr-3" data-src="" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">subsection 2</h5>
              Boulders lined the side of the road foretelling what could come next. There are no heroes in a punk rock band. Boulders lined the side of the road foretelling what could come next. There are no heroes in a punk rock band.
            </div>
        </div>
        <br>
        <div class="media">
            <img class="d-flex mr-3" src="" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">subsection 3</h5>
              Boulders lined the side of the road foretelling what could come next. There are no heroes in a punk rock band. Boulders lined the side of the road foretelling what could come next. There are no heroes in a punk rock band.
            </div>
        </div>
        <br>
        <div class="media">
            <img class="d-flex mr-3" data-src="" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">subsection 4</h5>
              Boulders lined the side of the road foretelling what could come next. There are no heroes in a punk rock band. Boulders lined the side of the road foretelling what could come next. There are no heroes in a punk rock band.
            </div>
        </div>
        <br>
        <div class="d-flex justify-content-center border">
            © 2024 Flexify
          </div>
        {% endblock %}
    {% else %}
        <p><a href="/login">Login Here</a></p>
    {% endif %}
   </div> 
</body>
</html>