{% extends "main/base.html" %}

{% block title %} Create new Response {% endblock %}

{% block content %}
<h1>Create A New Workout</h1>
<form method="post" action="/exercise/">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit", name="save_muscle">Create New</button>
</form>

{% if displayContent == True %}
    <ul>
        {% for workouts in workout_list %}
            <li><input type="checkbox", value="clicked", name ="workout_{{ forloop.counter }}", value="{{ workout }}">{{workouts}}</input></li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}