{% extends 'main/base.html' %}

{% block title %} Food Page{% endblock %}

<h1>{{data}}</h1>

{% block content %} 
<div class="border border-dark bg-light container-fluid">
    <div style="font-size: 100px;" class="row p-4 justify-content-center font-weight-bold">
        Flexify Nutrition Tracker
    </div>
    <div style="height:28vh;padding-left:40vh;padding-right: 40vh;" class="row justify-content-center font-italic">
        This tool is designed to provide you with essential information such as calorie content, macronutrients (proteins, fats, carbohydrates), vitamins, and minerals. Understanding the nutritional composition of your food is crucial for maintaining a balanced diet, managing weight, and ensuring overall health. It helps you make informed dietary choices, avoid deficiencies, and reduce the risk of chronic diseases like diabetes, heart disease, and obesity. By using our tool, you can take a proactive approach to your nutritional well-being, empowering you to live a healthier, more informed lifestyle.
    </div>
    <div style="height:35vh" class="p-5 row justify-content-center">
        <form method="post" action="">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</div>
{% endblock %}



